<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
        <link href='../assets/css/simple-sidebar.css' rel='stylesheet' type='text/css'>
        <link href='../assets/css/main.css' rel='stylesheet' type='text/css'>
        <script>
            window.$ = window.jQuery = require('../assets/js/jquery.js');
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="../index.html">Tools</a>
                </li>
                <li>
                    <a href="encoder.html">Encoder</a>
                </li>
                <li>
                    <a href="decoder.html">Decoder</a>
                </li>
                <li>
                    <a href="payloads.html">Payloads</a>
                </li>
                <li>
                    <a href="flash.html">Flash</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="resources.html">Resources</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>About</h1>
                        <p>This application allows you to create custom payloads for the USB Rubber Ducky. It also contains custom
                        scripts for Windows, OSX and Linux.
                        </p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>