<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Decoder</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
        <link href='../assets/css/simple-sidebar.css' rel='stylesheet' type='text/css'>
        <link href='../assets/css/main.css' rel='stylesheet' type='text/css'>
        <script>
            window.$ = window.jQuery = require('../assets/js/jquery.js');
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="../index.html">Tools</a>
                </li>
                <li>
                    <a href="encoder.html">Encoder</a>
                </li>
                <li>
                    <a href="#">Decoder</a>
                </li>
                <li>
                    <a href="payloads.html">Payloads</a>
                </li>
                <li>
                    <a href="flash.html">Flash</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="resources.html">Resources</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                          <button id="menu-toggle" class="btn btn-default">
                            <span class="glyphicon glyphicon-align-justify"></span>
                          </button>
                          Decoder
                        </h1>
                        <p>Choose the .bin file on your machine that you would like to decode below.</p>
                        <div>
                            Select File:
                            <button type="button" class="btn btn-default" id="filepath">Select</button>
                        </div>
                    </div>
                </div>
                <p>Script contents will appear below after conversion.</p>
                <textarea style="font-family:monospace;" class="form-control"  id="duckscript" rows="10" placeholder="Duck Script" readonly></textarea>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script src="../scripts/decoder.js"></script>

</body>

</html>