<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flash</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
        <link href='../assets/css/simple-sidebar.css' rel='stylesheet' type='text/css'>
        <link href='../assets/css/main.css' rel='stylesheet' type='text/css'>
        <script>
            window.$ = window.jQuery = require('../assets/js/jquery.js');
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="../index.html">Tools</a>
                </li>
                <li>
                    <a href="encoder.html">Encoder</a>
                </li>
                <li>
                    <a href="decoder.html">Decoder</a>
                </li>
                <li>
                    <a href="payloads.html">Payloads</a>
                </li>
                <li>
                    <a href="#">Flash</a>
                </li>
                <li>
                    <a href="usb.html">USB</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="resources.html">Resources</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                          <button id="menu-toggle" class="btn btn-default">
                            <span class="glyphicon glyphicon-align-justify"></span>
                          </button>
                          Flash
                        </h1>
                        <p>First insert the ducky while continuously keeping the little black button pressed.This ensures that the ducky is in <code>_dfu-mode_;</code> which is required to update firmware.</p>

                        <!-- Alert Message -->
                        <div class="process-output-alert alert alert-dismissible hide" role="alert">
                          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong class="alert-type-msg"></strong> <span class="alert-message"></span>
                        </div>
                        <!-- End Alert Message -->

                       <!--  Backup Panel -->
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <h4>Dump (Backup) Current Firmware</h4>
                            <ul style="list-style-type:none; margin: 0; padding: 0">
                                <li style="line-height: 3em; margin: 0; padding: 0">
                                    To dump firmware, press: <button type="button" class="btn btn-default pull-right" id="dumpbtn">Dump</button>
                                </li>
                                <li style="line-height: 3em">
                                    To restart Ducky, press: <button type="button" class="btn btn-default pull-right" id="dresetbtn">Reset</button>
                                </li>
                            </ul>
                          </div>
                        </div>
                       <!--  End Backup Panel -->

                       <!--  Update Panel -->
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <h4>Update Firmware</h4>
                            <ul style="list-style-type:none; margin: 0; padding: 0">
                                <li style="line-height: 3em; margin: 0; padding: 0">
                                    To erase Ducky, press: <button type="button" class="btn btn-default pull-right" id="erasebtn">Erase</button>
                                </li>
                                <li style="line-height: 3em">
                                    To update Ducky, press: <button type="button" class="btn btn-default pull-right" id="updatebtn">Update</button>
                                </li>
                                <li style="line-height: 3em">
                                    To restart Ducky, press: <button type="button" class="btn btn-default pull-right" id="uresetbtn">Reset</button>
                                </li>
                            </ul>
                          </div>
                        </div>
                       <!--  End Update Panel -->

                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script src="../scripts/flash.js"></script>

</body>

</html>