<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Payloads</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
        <link href='../assets/css/simple-sidebar.css' rel='stylesheet' type='text/css'>
        <link href='../assets/css/main.css' rel='stylesheet' type='text/css'>
        <script>
            window.$ = window.jQuery = require('../assets/js/jquery.js');
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="../index.html">Tools</a>
                </li>
                <li>
                    <a href="encoder.html">Encoder</a>
                </li>
                <li>
                    <a href="decoder.html">Decoder</a>
                </li>
                <li>
                    <a href="#">Payloads</a>
                </li>
                <li>
                    <a href="flash.html">Flash</a>
                </li>
                <li>
                    <a href="usb.html">USB</a>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="resources.html">Resources</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                          <button id="menu-toggle" class="btn btn-default">
                            <span class="glyphicon glyphicon-align-justify"></span>
                          </button>
                          Payloads
                        </h1>
                        <p>This application allows you to create custom payloads for the USB Rubber Ducky. It also contains custom
                        scripts for Windows, OSX and Linux.
                        </p>

                          <p>Select an operating system:</p>
                          <form role="form">
                            <label class="radio-inline">
                              <input type="radio" name="optradio" id="winOption">Windows
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="optradio" id="osxOption">OSX
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="optradio" id="linuxOption">Linux
                            </label>
                          </form>

                          <!-- Windows dropdowns -->
                           <div class="btn-group" style="display:none" id="winRec">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                               <span data-bind="label">Payloads</span>&nbsp;<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu scrollable-menu" role="menu">
                               <li class="dropdown-header">Reconaissance</li>
                               <li data-value="compinfo"><a href="#">Computer Information</a></li>
                               <li data-value="userinfo"><a href="#">User Information</a></li>
                               <li data-value="driveinfo"><a href="#">Drive Information</a></li>
                               <li data-value="programinfo"><a href="#">Program Information</a></li>
                               <li data-value="installedupdates"><a href="#">Installed Updates</a></li>
                               <li data-value="userdocs"><a href="#">User Documents</a></li>
                               <li data-value="netinfo"><a href="#">Basic Network Information</a></li>
                               <li data-value="netscan"><a href="#">Network Scan</a></li>
                               <li data-value="portscan"><a href="#">Port Scan</a></li>
                               <li data-value="wirelessprofile"><a href="#">Wireless Profile</a></li>
                               <li data-value="screencap"><a href="#">Screen Capture</a></li>
                               <li data-value="extractsam"><a href="#">Extract SAM</a></li>
                               <li data-value="chromeprofile"><a href="#">Chrome Profile</a></li>

                               <li class="divider"></li>

                               <li class="dropdown-header">Exploits</li>
                               <li data-value="disablefirewall"><a href="#">Disable Firewall</a></li>
                               <li data-value="findftp"><a href="#">Find & FTP</a></li>
                               <li data-value="adduser"><a href="#">Add User</a></li>
                               <li data-value="openport"><a href="#">Open Port</a></li>
                               <li data-value="accesspoint"><a href="#">Access Point</a></li>
                               <li data-value="cdrive"><a href="#">Share C Drive</a></li>
                               <li data-value="rdp"><a href="#">Enable RDP</a></li>
                               <li data-value="reverseshell"><a href="#">Reverse Shell</a></li>
                               <li data-value="dns"><a href="#">DNS Poison</a></li>
                               <li data-value="removewinupdates"><a href="#">Remove Windows Update</a></li>
                             </ul>
                           </div>

                           <div class="btn-group" style="display:none" id="winReport">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                               <span data-bind="label">Report Style</span>&nbsp;<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu" role="menu">
                               <li data-value="ftp"><a href="#" id="winFTP">FTP Report</a></li>
                               <li data-value="local"><a href="#" id="winLocal">Local Report</a></li>
                               <li data-value="email"><a href="#" id="winEmail">Email Report</a></li>
                               <li data-value="usb"><a href="#" id="winUSB">Save to USB</a></li>
                             </ul>
                           </div>
                           <!-- End Windows Dropdowns -->

                           <!-- OSX dropdowns -->
                           <div class="btn-group" style="display:none" id="osxRec">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                               <span data-bind="label">Payloads</span>&nbsp;<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu scrollable-menu" role="menu">
                               <li class="dropdown-header">Reconaissance</li>
                               <li data-value="compinfo"><a href="#">Computer Information</a></li>
                               <li data-value="userinfo"><a href="#">User Information</a></li>
                               <li data-value="usbinfo"><a href="#">USB Information</a></li>
                               <li data-value="driveinfo"><a href="#">Drive Information</a></li>
                               <li data-value="programinfo"><a href="#">Program Information</a></li>
                               <li data-value="portscan"><a href="#">Port Scan</a></li>
                               <li data-value="screencap"><a href="#">Screen Capture</a></li>
                               <li data-value="chromeprofile"><a href="#">Chrome Profile</a></li>
                               <li data-value="firefoxprofile"><a href="#">Firefox Profile</a></li>

                               <li class="divider"></li>

                               <li class="dropdown-header">Exploits</li>
                               <li data-value="disablefirewall"><a href="#">Disable Firewall</a></li>
                               <li data-value="findftp"><a href="#">Find & FTP</a></li>
                               <li data-value="adduser"><a href="#">Add User</a></li>
                               <li data-value="reverseshell"><a href="#">Reverse Shell</a></li>
                               <li data-value="dnspoison"><a href="#">DNS Poison</a></li>
                             </ul>
                           </div>

                           <div class="btn-group" style="display:none" id="osxReport">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                               <span data-bind="label">Report Style</span>&nbsp;<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu" role="menu">
                               <li data-value="ftp"><a href="#">FTP Report</a></li>
                               <li data-value="local"><a href="#">Local Report</a></li>
                               <li data-value="email"><a href="#">Email Report</a></li>
                               <li data-value="usb"><a href="#">Save to USB</a></li>
                             </ul>
                           </div>
                           <!-- End OSX Dropdowns -->

                           <!-- Linux dropdowns -->
                           <div class="btn-group" style="display:none" id="linuxRec">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                               <span data-bind="label">Payloads</span>&nbsp;<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu scrollable-menu" role="menu">
                               <li class="dropdown-header">Reconaissance</li>
                               <li data-value="compinfo"><a href="#">Computer Information</a></li>
                               <li data-value="userinfo"><a href="#">User Information</a></li>
                               <li data-value="usbinfo"><a href="#">USB Information</a></li>

                               <li class="divider"></li>

                               <li class="dropdown-header">Exploits</li>

                               <li data-value="findftp"><a href="#">Find & FTP</a></li>
                               <li data-value="reverseshell"><a href="#">Reverse Shell</a></li>
                             </ul>
                           </div>

                           <div class="btn-group" style="display:none" id="linuxReport">
                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                               <span data-bind="label">Report Style</span>&nbsp;<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu" role="menu">
                               <li data-value="ftp"><a href="#">FTP Report</a></li>
                               <li data-value="local"><a href="#">Local Report</a></li>
                               <li data-value="email"><a href="#">Email Report</a></li>
                               <li data-value="usb"><a href="#">Save to USB</a></li>
                             </ul>
                           </div>
                           <!-- End Linux Dropdowns -->
                    </div>
                </div>

                <div class="row">
                    <div class ="col-sm-8">
                        <br>
                        <button type="button" class="btn btn-default" id="create-payload">
                          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Create .Bin
                        </button>
                        <a class="btn btn-default" id="downloadBin" download href="#">Save Payload</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script src="../scripts/payloads.js"></script>

</body>
</html>