<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
        <link href='../assets/css/simple-sidebar.css' rel='stylesheet' type='text/css'>
        <link href='../assets/css/main.css' rel='stylesheet' type='text/css'>
        <script>
            window.$ = window.jQuery = require('../assets/js/jquery.js');
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="../index.html">Tools</a>
                </li>
                <li>
                    <a href="encoder.html">Encoder</a>
                </li>
                <li>
                    <a href="decoder.html">Decoder</a>
                </li>
                <li>
                    <a href="payloads.html">Payloads</a>
                </li>
                <li>
                    <a href="flash.html">Flash</a>
                </li>
                <li>
                    <a href="#">USB</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="resources.html">Resources</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                          <button id="menu-toggle" class="btn btn-default">
                            <span class="glyphicon glyphicon-align-justify"></span>
                          </button>
                          USB
                        </h1>
                        <p>Check USB device information here.</p>

                        <div class="process-error alert alert-danger alert-dismissible hide" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>Error!</strong> <span class="error-message"></span>
                        </div>
                        <div class="process-success alert alert-success alert-dismissible hide" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>Success!</strong> <span class="success-message"></span>
                        </div>
                        <pre id="info"></pre>

                        <button type="button" class="btn btn-default" id="listbtn">List Devices</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                    <br>
                        <p>To Eject a device, type in its Volume Name below:</p>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Media Volume Name.." id="volumename">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="ejectbtn">Eject</button>
                          </span>
                        </div><!-- /input-group -->
                      </div><!-- /.col-lg-6 -->
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script src="../scripts/usb.js"></script>

</body>

</html>